<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VigiTech - Inicio</title>
  <link
  href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
  rel="stylesheet"/>
  <link rel="stylesheet" href="/src/css/style.css" />
  <link rel="stylesheet" href="/src/css/home.css" />
</head>
<body>
 <div class="view-home">
  <div class="dashboard-container">
    <header>
      <div class="header-logo">
        <img src="/images/Mask group.png" alt="VigiTech Logo" class="header-img">
      </div>
      <nav>
        <button id="btn-login">Iniciar Sesión</button>
      </nav>
    </header>
    <section class="hero">
  <div class="about-image"></div>
  <div class="about-text-wrapper">
    <h2 class="about-title">VigiTech</h2>
    <h3 class="about-subtitle">Quiénes Somos</h3>
    <p class="about-text">
      En VigiTech unimos talento de desarrollo, ingeniería y UX 
      para proteger los laboratorios académicos. Nuestra plataforma 
      integra sensores avanzados, video en vivo y análisis predictivo, 
      garantizando un entorno seguro y eficiente para estudiantes, docentes y 
      encargados, y permitiendo una respuesta rápida ante cualquier riesgo.
    </p>
  </div>

   </section>
  </div>

  <section class="sensors">
    <h2 class="section-title">Nuestro Sistema</h2>
    <div class="sensor-grid">
     <div class="sensor-card wave-card">
          <div class="icon-container">
           <img src="/images/camara.png" alt="Icono">
        </div>
        <h3 class="card-title">Cámara OV5647</h3>
       <p class="card-text">
        Transmite video en vivo para supervisar el laboratorio y registrar evidencia visual.
        </p>
    </div>
     <div class="sensor-card wave-card">
          <div class="icon-container">
           <img src="/images/gas.png" alt="Icono">
        </div>
        <h3 class="card-title">Gas MQ-2</h3>
       <p class="card-text">
        Detecta fugas de gas como propano o butano y activa alertas inmediatas ante niveles peligrosos.
        </p>
    </div>
     <div class="sensor-card wave-card">
          <div class="icon-container">
           <img src="/images/movement.png" alt="Icono">
        </div>
        <h3 class="card-title">Movimiento PIR-501</h3>
       <p class="card-text">
        Detecta presencia humana en horarios no autorizados mediante cambios de temperatura.
        </p>
    </div>
      <div class="sensor-card wave-card">
          <div class="icon-container">
           <img src="/images/particles.png" alt="Icono">
        </div>
        <h3 class="card-title">Particulas PMS5003-G5</h3>
       <p class="card-text">
        Mide la cantidad de partículas en el aire para identificar contaminantes en el ambiente.
        </p>
    </div>
     <div class="sensor-card wave-card">
          <div class="icon-container">
           <img src="/images/monitoreo.png" alt="Icono">
        </div>
        <h3 class="card-title">Monitoreo en tiempo real</h3>
       <p class="card-text">
          Muestra gráficas y tablas dinámicas con las lecturas de todos los sensores al instante.</p>
    </div>
     <div class="sensor-card wave-card">
          <div class="icon-container">
           <img src="/images/descargar.png" alt="Icono">
        </div>
        <h3 class="card-title">Datos históricos y PDF</h3>
       <p class="card-text">
          Presenta estadísticas, probabilidades y reportes filtradas por día, semana o mes.</p>
    </div>
     <div class="sensor-card wave-card">
          <div class="icon-container">
           <img src="/images/galeriaicon.png" alt="Icono">
        </div>
        <h3 class="card-title">Galería de fotos</h3>
       <p class="card-text">
        Guarda y muestra capturas de los movimientos detectados por la cámara como evidencia.</p>
    </div>
     <div class="sensor-card wave-card">
          <div class="icon-container">
           <img src="/images/telegrama.png" alt="Icono">
        </div>
        <h3 class="card-title">Notificaciones Telegram</h3>
       <p class="card-text">
          Envía alertas automáticas al bot de Telegram cuando se superan los umbrales críticos.        </p>
    </div>
    </div>
  </section>

  <footer>
    <div class="social-links">
      <a href="https://www.facebook.com" class="social-icon" target="_blank" rel="noopener noreferrer">
        <img src="/images/face.png" alt="Facebook">
      </a>
      <a href="https://www.whatsapp.com" class="social-icon" target="_blank" rel="noopener noreferrer">
        <img src="/images/whats.png" alt="WhatsApp">
      </a>
      <a href="https://www.instagram.com" class="social-icon" target="_blank" rel="noopener noreferrer">
        <img src="/images/insta.png" alt="Instagram">
      </a>
    </div>
    <p class="footer-text">&copy; 2025 VigiTech - Todos los derechos reservados</p>
  </footer>
</body>
</html>
