/* Reset básico */
* { box-sizing: border-box; margin: 0; padding: 0; }

/* Fuente Roboto y colores */
body {
  font-family: 'Roboto', sans-serif;
  color: #002658;
  background: #f5f7fa;
}

/* HEADER */
header {
  position: fixed; top: 0; left: 0; right: 0;
  display: flex; justify-content: space-between; align-items: center;
  background: #ffffff;
  padding: 0.8rem 1.5rem;
  border-bottom: 1px solid #d3dae3;
  z-index: 1000;
}
.hamburger-open { font-size: 1.5rem; background: none; border: none; cursor: pointer; color: #002658; transform: translate(1px, -2px);}
.header-logo { height: 35px; transform: translate(19px, 6px);}
.header-right { display: flex; align-items: center; position: relative; }
#user-name { margin-right: 0.5rem; color: #002658; }
.user-icon { background: none; border: none; font-size: 1.3rem; cursor: pointer; }
.dropdown {
  position: absolute; top: 2.5rem; right: 0;
  background: #fff; border: 1px solid #ccc; border-radius: 25px;
  list-style: none; width: 150px;
}
.dropdown li { border-bottom: 1px solid #e0e0e0; }
.dropdown li:last-child { border: none; }
.dropdown li button {
  width: 100%; 
  padding: 0.7rem; 
  background: none; 
  background-color: #eff6ff;
  text-align: center; 
  cursor: pointer;
  border: none;
  border-radius: 10px; 
  gap: 0.8rem;
  padding: 0.8rem; 
  border-radius: 25px;
  transition: background-color 0.2s ease;
}
.dropdown li button:hover { background: #f0f0f0; }
.dropdown.hidden { 
  display: none; }

/* SIDEBAR */
.sidebar {
  position: fixed; top: 0; left: 0; height: 100%; width: 0;
  overflow: hidden; background: #002658; color: #fff;
  transition: width 0.3s ease; padding-top: 4rem;
  z-index: 900;
  
}
.sidebar.visible { width: 250px; }
.hamburger-close {
  position: absolute; top: 5rem; right: 1rem;
  font-size: 1.5rem; background: none; border: none; cursor: pointer;
  color: #fff;
}
.menu { list-style: none; padding: 1rem; margin-top: 2rem; }
.menu li { margin: 1rem 1px; }
.menu li a,
.menu li span {
  color: #fff; text-decoration: none; font-size: 1rem;
  display: block; padding: 0.8rem ;
  border-radius: 35px;
}
.menu li a.active {
  background: #000d1d; color: #fff;
}
.has-sub .sub-menu { list-style: none; margin-top: 0.5rem; display: none; }
.has-sub.open .sub-menu { display: block; }
.sub-menu li { margin: 0.3rem 0 0.3rem 1rem; }
hr { border: none; border-top: 1px solid #1a3b6e; margin: 0.5rem 0; }
.support { position: absolute; bottom: 1rem; width: 100%; text-align: center; }
.support a { color: #fff; text-decoration: none; font-size: 0.9rem; }

/* CONTENIDO */
.view-dashboard { padding-top: 60px; }
.dashboard-content {
  margin: rem;
  transition: margin-left 0.3s ease;
  
}
.sidebar.visible ~ .dashboard-content { margin-left: 250px; }

h1 { color: #002658;   margin-top: 7rem;
  margin-right: 4rem;
  margin-left: 4rem;
  margin-bottom: rem; }

h2 { color: #002658;  margin-top: 3rem;
  margin-left: 6rem;
  margin-bottom: 1rem;  }


.status-sensors .cards { 
  display: flex; 
  gap:2rem;
  margin-right: 4rem;
  margin-left: 4rem;
 }
.card {
  flex: 1; background: #BAD8FF; color: #002658;
  padding: 1.2rem; border-radius: 35px; text-align: center;
  font-weight: bold;
  
}

.camera-stream {
  margin-top: 2rem;
  margin-right: 4rem;
  margin-left: 4rem;}

  h3 { color: #002658;  margin-top: 3rem;
  margin-left: 2rem;
  margin-bottom: 1rem; 
  font-size: 1.4rem;
 }
.camera-placeholder {
  height: 320px; background: #e0e0e0;
  border-radius: 20px; display: flex;
  align-items: center; justify-content: center;
  color: hsl(0, 0%, 33%); font-style: italic;
}

/* SOS */
.sos-button {
  position: fixed; bottom: 1rem; right: 1rem;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.sos-button img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.sos-modal.hidden { 
  display: none; }
.sos-modal {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;
  background: rgba(0, 18, 46, 0.3);
  
}

.sos-content {
  position: absolute; bottom: 80px; right: 1rem;
  background: #fff; padding: 1rem;
  border-radius: 30px; width: 240px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

h4 {color: #002658;  margin-top: rem;
  margin-left: 2rem;
  margin-bottom: 1rem; 
  font-size: 1.4rem;}
.sos-content h3 { margin-bottom: 0.7rem; color: #002658; }
.sos-cards { 
  display: flex; 
  flex-direction: 
  column; gap: 0.8rem; }
.sos-card {
  display: flex; 
  align-items: center; 
  gap: 0.8rem;
  background: #BAD8FF; 
  padding: 0.8rem; 
  border-radius: 35px;
  transition: background-color 0.2s ease;
}

.sos-card:hover, 
.sos-card:focus {
 background-color: #77b4ff;
}
.icon-placeholder {
  width: 32px; height: 32px; background: #fff;
  border-radius: 50%; display: inline-block;
}
.close-sos {
  position: absolute; top: 8px; right: 8px;
  background: none; border: none; font-size: 1.2rem;
  color: #6a0202; cursor: pointer;
}

.card strong {
  display: block;
  
  font-size: 1.1rem;
}

.card br {
  line-height: 2;
}
